.stickyDiv {
	position: sticky;
	top: 0;
	z-index: 4;
	background: white;
	font-size: 0rem;
}

.searchBar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 100%;
	margin: 1rem auto 1rem;
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 0 0.6rem;
}

@media screen and (max-width: 480px) {
	.searchBar {
		width: 90%;
	}
}

.searchBar input[type="text"] {
	width: 100%;
	border: none;
	background: transparent;
	font-size: 1rem;
	padding: 0.5rem;
	outline: none;
	padding-left: 0;
}

.searchIconButton {
	border: none;
	outline: none;
	background: transparent;
}

.searchIconButton img {
	cursor: pointer;
	max-width: unset;
}

@media (prefers-color-scheme: dark) {
	.stickyDiv {
		background: #000000;
	}
	.searchBar {
		background-color: #f5f5f51a;
		border: 1px solid #cccccc21;
	}
}
