.apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

@media screen and (max-width: 480px) {
    .apps {
        justify-content: space-evenly;
    }
}

.link {
    text-decoration: none;
    color: #000;
}

.appCard {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 225px;
    padding: 10px;
    box-shadow: 1px 1px 0 0 #44444444;
}

@media screen and (max-width: 480px) {
    .appCard {
        width: 150px;
    }
}


.appCard:hover {
    transform: scale(1.05) translateY(-5px);
    transition: all 0.2s ease-in-out;
}

.icon {
    margin: 10px auto;
    border-radius: 12px;
}

}

.appName {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0;
}

.appDescription {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 10px 0;
}