.container {
	max-width: 45rem;
	padding: 0 1rem;
	margin: 3rem auto 6rem;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.backToHome {
	margin: 3rem 0 0;
}

.authorContainer {
	display: flex;
	align-items: center;
	gap: 10px;
}

.imageHolder {
	position: relative;
}

.inprintImage {
	position: absolute;
	top: 52px;
	left: 117px;
	transform: rotate3d(4, -4, 0, 340deg);
	height: auto;
	width: 132px;
}
